@font-face {
    font-family: 'sfuisemi';
    src: url(../font/SFUIDisplay-Semibold.woff) format('woff')
}

* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'sfuisemi';
    color: #9B8C8C;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hide {
    display: none;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: inherit;
}

.more {
    background-color: #FFB5B5;
    border-radius: 27px;
    color: #FFFFFF;
    padding: 8px 22px;
}

#wrap {}

header {
    height: 360px;
    background-image: url(../img/img1.png);
    background-size: cover;
    background-position: center;
}

header h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 51px;
}

header .menu {
    position: absolute;
    top: 55px;
    left: 15px;
}

header .gnb {
    display: none;
}

header .tit {
    padding-top: 119px;
    color: #fff;
    font-size: 24px;
    padding-left: 9.3%;
}

header .tit .t01 {
    width: 116px;
}

header .tit .t02 {
    display: none;
}

header .tit .more {
    display: none;
}

section h2 {
    color: #9B8C8C;
    font-size: 18px;
    margin: 30px 4% 4% 4%;
    text-transform: uppercase;
}

.sect1 {}

.sect1 .imgBox {
    margin: 4%;
}

.sect1 .imgBox img {
    width: 100%;
}

.sect1 .txtBox {
    margin: 4%;
}

.sect1 .txtBox p {
    margin-bottom: 8px;
}

.sect2 {
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sect2 h2 {
    margin-top: 55px;
}

.sect2 ul {
    padding: 4%;
    margin-top: 89px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0;
}

.sect2 ul li {
    width: 48%;
    height: 165px;
    background-color: #fff;
    /* margin-right: 15px;*/
    margin-bottom: 15px;
    text-align: center;
}

.sect2 ul li .iconBox {
    padding-top: 63px;
}

.sect2 ul li .iconBox span {
    display: block;
    padding-top: 15px;
}

.sect2 ul li .txtBox {
    display: none;
}

footer {
    background-color: #B89A9A;
    padding: 4%;
    color: #fff;
    overflow: auto;
}

footer h3 {
    font-size: 14px;
    float: left;
}

footer address {
    font-size: 10px;
    float: right;
    font-style: normal;
}

footer ul {
    clear: both;
    float: right;
}

footer ul li {
    float: left;
    margin-left: 5px;
}

@media all and (min-width:1024px) {
    header {
        height: 580px;
    }

    header h1 {
        font-size: 32px;
    }

    header .tit {
        padding-left: 14.39%;
        font-size: 60px;
    }

    section h2 {
        font-size: 24px;
        margin-top: 80px;
    }

    .sect1 {
        overflow: auto;
    }

    .sect1 .imgBox {
        width: 54.31%;
        float: left;
        margin-top: 0;
    }

    .sect1 .txtBox {
        width: 32.19%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        font-size: 20px;
        line-height: 30px;
    }

    .sect2 {
        background-image: url(../img/bg2.svg);
    }

    .sect2 ul {
        flex-wrap: nowrap;
        margin-bottom: 30px;
    }

    .sect2 ul li {
        width: 23%;
        height: 226px;
    }

    .sect2 ul li .iconBox {
        padding-top: 80px;
    }

    footer h3 {
        font-size: 24px;
    }

    footer address {
        font-size: 20px;
    }

}
